body {
    font-size: 2vw;
    /*    background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 5%,
    #757575 5%,
    #757575 10%
); 
    background-size: 100px 100px;
    animation: move-it 4s linear infinite;
    */
    overflow: hidden;
    background-color: #000000;
    font-family: FuturaPT;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

@font-face {
    font-family: FuturaPT;
    src: url(fonts/Quicksand.ttf);
}

#BG {
    z-index: -5;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

@keyframes move-it {
    0% {
        background-position: initial;
    }

    100% {
        background-position: 100px 0px;
    }
}

.mainbox {
    transform: translateX(0vh);
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    z-index: 1;
    width: 75%;
    height: 95vh;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0.3vh solid white;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.4em;
    box-shadow: 0px 10px 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown_button {
    width: 16vw;
    min-width: 7vh;
    height: 5vh;
    box-shadow: 0em 0.15em;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    outline: 0.3vh solid rgba(255, 255, 255, 0.8);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.5vw;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    white-space: nowrap;
    /* Add this line */
    overflow: hidden;
    /* Add this line */
    text-overflow: clip;
    font-size: clamp(1.2vw, 2.5vw, 3vw);

}

.dropdown_button:hover {
    outline: 0.3vh solid rgba(255, 255, 255, 0.8);
    transform: translate(0em, -0.15em);
    box-shadow: 0em 0.28em;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
}

.dropdown_button:active {
    outline: 0.3vh solid rgba(255, 255, 255, 0.8);
    transform: translate(0em, 0.05em);
    box-shadow: 0em 0.10em;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    background-color: rgba(197, 197, 197, 0.8);
}

.icon_button {
    float: right;
    width: 5vw;
    transform: scale(1);
    height: 5vh;
    color: #ffffff;
    padding-bottom: 5px;
    object-fit: cover;
    vertical-align: middle;
    text-decoration: none !important;
    background-color: transparent;
    border: none;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}

.icon_button:hover {
    transform: scale(0.9);
}

.icon_button:active {
    transform: scale(0.7);
}

.card_margin {
    margin-top: 5%;
    margin-bottom: 5%;
}

.gamecard {
    font-size: 3vh;
    z-index: 1;
    width: 90%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1;
    overflow: hidden;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.5);
    outline: 2px solid white;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.2em;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}

@media (max-width: 768px) {
    .gamecard {
        width: 100%;
        max-width: none;
    }
}

.gamecard:hover {
    transform: translate(0em, -0.5em);
    box-shadow: 0 0 20px #ffffff;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    background-color: rgba(43, 43, 43, 0.8);
}

.gamecard:active {
    transform: translate(0em, 0.05em);
    box-shadow: 0em 0.10em;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    background-color: rgba(197, 197, 197, 0.8);
}

.gamecard .inner_card {
    transform: translate(0em, 0vh);
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}

.inner_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.gamecard:hover .inner_card {
    transform: translate(0em, -25vh);
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}

.gamecardtext {
    text-decoration: none !important;
    position: relative;
    color: #ffffff;
    margin-top: 10vh;
    font-size: 1.9vw;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.loader-text {
    font-size: 2em;
    color: #d0ced2;
    text-decoration: none !important;
}

.grid-img {
    max-width: 100%;
    height: auto;
}

.griditem {
    text-decoration: none !important;
}

.gamecard-hover-shadow {
    transition: box-shadow 0.35s;
}

.gamecard-hover-shadow:hover {
    box-shadow: 0 0 20px #000000;
}

.listing-text {
    font-size: 1.5em;
    color: #CCCCCC;
    text-decoration: none !important;
    margin-bottom: -0.1em;
    word-wrap: break-word;
    word-break: break-word;
}

#settings-panel {
    overflow: visible;
    position: absolute;
    margin-top: 0%;
    transform: translateX(220vh);
    height: 95vh;
    width: 40vh;
    transition-duration: all 0.4s;
}

#settings-panel.open {
    transform: translateX(156vh);
}

#main-panel {
    transform: translateX(0vh);
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}

#main-panel.open {
    transform: translateX(-24vh);
}

h1 {
    font-family: "Doto";
    font-size: 5em;
    color: #d0ced2;
    text-decoration: none !important;
}

.sidebar {
    width: 20vh;
    height: 100vh;
    z-index: 1000;
    padding-top: 20px;
    padding-left: 20px;
    top: 0;
    left: 0;
    position: fixed;
    color: #ffffff;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}

.sidebar.slide {
    transform: translateX(-40vh);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    transition-duration: all 0.4s;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    position: relative;
    cursor: pointer;
}


.sidebaricon {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.searchbar {
    width: 8em;
    float: left;
    margin-left: 1em;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 1vw;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.searchbar::placeholder {
    color: white;
}

.sidebar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    color: #ffffff;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}


.sidebar ul li a:hover::after {
    width: 100%;
}

.sidebaricon {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    vertical-align: middle;
}

@font-face {
    font-family: "Doto";
    src: url("./fonts/Doto-Medium.ttf");
}

.dropdown-container {
    position: relative !important;
    z-index: -1;
}

#tabcloak-menu {
    position: absolute !important;
    width: 15vw;
    min-width: 0vw;
    height: 0;
    min-height: 0vw;
    margin-top: 0vh;
    font-size: 1.3vw;
    right: 2.5vw !important;
    transition: all 0.4s ease-in-out;
    display: block;
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 3;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0.3vh solid white;
}

#tabcloak-menu.open {
    transition: all 0.4s ease-in-out;
    opacity: 1;
    height: 25vh;
}